* {
    box-sizing: border-box;
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    font-family: 'Montserrat', sans-serif;
}

nav {
    position: fixed;
    background-color: white;
    min-height: 3em;
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1em;
    box-shadow: 0 4px 2px -2px rgba(0,0,0,.2);
    z-index: 2;
}

.nav-item {
    margin: 0 2% 0 2%;
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: bolder;
}

.nav-item:hover {
    color: #6141ac;
}

.nav-item > .active {
    color: #6141ac;
}

.jumbotron {

    background-image: url('/images/JumbotronBackground.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.jumbotron-title {
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
    font-size: 98px;
    margin: 5px;
    color: white;
}

.jumbotron-subtitle {
    text-align: center;
    font-size: 48px;
    margin: 5px;
    color: white;
}

.body-container {
    width: 100vw;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-container {
    position: relative;
    background-color: white;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-container {
    position: relative;
    background-color: white;
    border-radius: 4px;
    width: 80%;
    margin: 5% 0 2.5%;
    padding: 4% 2%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 1px 1px 4px 2px rgba(0,0,0,.2);
}

.about-image-container {
    width: 25%;
    padding: 2% 0 2%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.about-image-container > img {
    border-radius: 50%;
}

.about-content {
    width: 55%;
    margin: 0 6% 0 2%;
    display: flex;
    flex-direction: column;
}

.about-title-container {
    margin: 2% 0 0 2%;
    width: 25%;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-color: red;
}

.about-title {
    margin: 2% 2% 2%;
    color: black;
    font-size: 36px;
    font-family: 'Fjalla One', sans-serif;
    font-weight: bold;
    letter-spacing: 3px;
}

.about-text {
    margin: 4% 2% 2%;
    color: black;
    font-size: 18px;
    font-weight: 100;
}

.skills-container {
    background-color: white;
    border-radius: 4px;
    width: 80%;
    margin: 3% 0 2%;
    padding: 4% 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 1px 4px 2px rgba(0,0,0,.2);
}

.skills-title-container {
    margin: 2% 2% 2%;
    align-self: flex-start;
    width: 15%;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-color: red;
}

.skills-title {
    margin: 2% 2% 2%;
    color: black;
    font-size: 36px;
    font-family: 'Fjalla One', sans-serif;
    font-weight: bold;
    letter-spacing: 3px;
}

.skills-list {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
    flex-wrap: wrap;
    margin: 2% 0 2%;
}

.skill-item {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2.5% 0 2.5%;
}

.skill-icon {
    height: 50px;
    width: 50px;
}

.skill-name {
    color: black;
    font-size: 15px;
    font-weight: bolder;
    text-align: center;
}

.projects-container {
    background-color: transparent;
    width: 83%;
    margin: 2% 0 2%;
}

.slider {
    width: 100%;
}

.project-item {
    width: 100%;
    height: 500px;
    padding: 2%;
}

.project-content {
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 4px;
    box-shadow: 1px 1px 4px 2px rgba(0,0,0,.2);
    color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.project-image {
    width: 40%;
    height: 100%;
}

.project-description {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 4%;
}

.project-title-container {
    margin: 2% 2% 2%;
    width: 96%;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-color: red;
}

.project-title {
    margin: 0 2% 2%;
    color: black;
    font-size: 36px;
    font-family: 'Fjalla One', sans-serif;
    font-weight: bold;
    letter-spacing: 3px;
}

.project-text {
    margin: 0 2% 2%;
}

.project-link {
    text-decoration: none;
    margin: 0 2% 2%;
    color: red;  
} 

.contact-container {
    background-color: black;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.contact-subcontainer {
    background-color: white;
    width: 70%;
    height: 60%;
    margin: 8% 0 8%;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.email-form-container {
    width: 40%;
    height: 70%;
}

.email-form-container > form {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.contact-title {
    margin: 1% 0 1%;
    color: black;
    font-size: 16px;
    font-weight: bold;
}

.contact-input {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 2px;
    color: black;
    width: 80%;
    margin: 1% 0 1%;
    padding: 1%;
}

.message {
    flex: 2;
    line-height: 100%;
}

.contact-button {
    border-color: black;
    border-radius: 2px;
    background-color: black;
    color: white;
    margin: 5px 10px 5px;
}

.contact-info-container {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.info-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.contact-text {
    font-size: 14px;
    color:  black;
    margin: 4%;
} 


@media only screen and (max-width: 800px) {

    .jumbotron-title {
        font-size: 84px;
    }
    
    .jumbotron-subtitle {
        font-size: 42px;
    }

    .about-title, .skills-title, .project-title {
        font-size: 28px;
    }
    
    .about-text, .skill-name, .project-text, .project-link {
        font-size: 14px;
    }
    
}

@media only screen and (max-width: 750px) {
    .nav-item {
        font-size: 12px;
    }

    .jumbotron-title {
        font-size: 54px;
    }
    
    .jumbotron-subtitle {
        font-size: 32px;
    }

    .about-container, .skills-container {
        flex-direction: column;
    }
    
    .about-content {
        width: 80%;
    }
    
    .about-title-container {
        width: 100%;
        border-bottom-width: 2px;
    }
 
    .about-title {
        font-size: 20px;
        text-align: center;
    }
    
    .about-text {
        font-size: 12px;
    }

    .skills-title-container {
        width: 30%;
        border-bottom-width: 2px;
        margin-left: 8%;
        margin-top: 8%;
    }

    .skills-title, .project-title {
        font-size: 20px;
    }

    .skill-name, .project-text, .project-link {
        font-size: 10px
    }

    .skill-item {
        width: 28%;
        padding: 4%;
    }

    .skill-item > img {
        width: 24px;
        height: 24px;
    }

    .project-item {
        height: 550px;
    }

    .project-content {
        flex-direction: column;
    }

    
    .project-image {
        width: 100%;
        height: 30%;
    }
    
    .project-description {
        width: 90%;
    }
    
    .project-title-container {
        margin-top: 8%;
        width: 70%;
        border-bottom-width: 2px;
    }

    .contact-subcontainer {
        flex-direction: column;
    }

    .email-form-container, .contact-info-container {
        width: 100%;
        margin-top: 4%;
    }
}