body {
    margin: 0;
}

nav {
    position: fixed;
    background-color: white;
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-right: 2%;
    box-shadow: 0 4px 2px -2px rgba(0,0,0,.2);
    z-index: 2;
}

.nav-item {
    margin: 0 2% 0 2%;
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
}

.jumbotron {
    background-image: url('/images/JumbotronBackground.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 90vh;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.jumbotron-title {
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
    font-size: 98px;
    margin: 5px;
    color: white;
}

.jumbotron-subtitle {
    text-align: center;
    font-size: 48px;
    font-family: 'Montserrat', sans-serif;
    margin: 5px;
    color: white;
}

.body-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-container {
    background-color: white;
    /* background-image: url('/images/WebpageBackground.png');
    background-size: contain;
    background-repeat: no-repeat; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-container {
    background-color: white;
    border-radius: 4px;
    width: 80%;
    margin: 5% 0 2%;
    padding: 2%;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 1px 1px 4px 2px rgba(0,0,0,.2);
}

.about-image-container {
    width: 40%;
    padding: 2% 0 2%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.about-content {
    width: 60%;
    margin: 0 6% 0 2%;
    display: flex;
    flex-direction: column;
}

.about-title-container {
    margin: 2% 0 0 2%;
    width: 25%;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-color: red;
}

.about-title {
    margin: 2% 2% 2%;
    color: black;
    font-size: 36px;
    font-family: 'Fjalla One', sans-serif;
    font-weight: bold;
    letter-spacing: 3px;
}

.about-text {
    margin: 4% 2% 2%;
    color: black;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
}

.skills-container {
    background-color: white;
    border-radius: 4px;
    width: 80%;
    margin: 3% 0 2%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 1px 4px 2px rgba(0,0,0,.2);
}

.skills-title-container {
    margin: 2% 2% 2%;
    align-self: flex-start;
    width: 15%;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-color: red;
}

.skills-title {
    margin: 2% 2% 2%;
    color: black;
    font-size: 36px;
    font-family: 'Fjalla One', sans-serif;
    font-weight: bold;
    letter-spacing: 3px;
}

.skills-list {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    flex-wrap: wrap;
    margin: 2% 0 2%;
}

.skill-item {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2% 0 2%;
}

.skill-icon {
    height: 50px;
    width: 50px;
}

.skill-name {
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-size: 15px;
    font-weight: bolder;
}

.projects-container {
    background-color: transparent;
    width: 86%;
    margin: 2% 0 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.slider {
    width: 100%;
}

.project-item {
    background-color: whitesmoke;
    border-radius: 4px;
    width: 94%;
    padding: 2%;
    margin: 1% 1%;
    box-shadow: 1px 1px 4px 2px rgba(0,0,0,.2);
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
}

.project-content {
    position: relative;
    z-index: 10;
}

.project-title {
    
}

.project-description {
    
}

.contact-container {
    background-color: black;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.contact-subcontainer {
    background-color: white;
    width: 75%;
    height: 65%;
    margin: 20px 0 20px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.email-form-container {
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 2% 4% 2%;
}

.contact-title {
    margin: 1% 0 1%;
    color: #cc1ae5;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.contact-input {
    border-style: solid;
    border-width: 1px;
    border-color: #cc1ae5;
    border-radius: 2px;
    color: #cc1ae5;
    width: 80%;
    margin: 1% 0 1%;
    padding: 1%;
    font-family: 'Montserrat', sans-serif;
}

.message {
    flex: 2;
    line-height: 100%;
}

.contact-button {
    border-color: #cc1ae5;
    border-radius: 2px;
    background-color: #cc1ae5;
    color: white;
    width: 15%;
    margin: 5px 10px 5px;
    font-family: 'Montserrat', sans-serif;
}

.contact-info-container {
    width: 47%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 2% 2% 2% 6%;
}

.info-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.contact-text {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    color:  #cc1ae5;
    margin-left: 4%;
}